.menu__list
  display: flex
  justify-content: flex-end !important
  position: absolute !important
  width: 100%
.menu__container
  display: flex
  justify-content: flex-end !important
  align-items: center !important
  width: 100%
  color: black
.MuiMenu-list
  background-color: $main
.makeStyles-dropdown-2
  width: fit-content

/* slide enter */
.slide-enter
  opacity: 0
  transform: scale(0.97) translateY(5px)
  z-index: 1

.slide-enter-active
  opacity: 1
  transform: scale(1) translateY(0)
  transition: opacity 3000ms linear 1000ms, transform 3000ms ease-in-out 1000ms

/* slide exit */
.slide-exit
  opacity: 1
  transform: scale(1) translateY(0)
.slide-exit-active
  opacity: 0
  transform: scale(0.97) translateY(5px)
  transition: opacity 1500ms linear, transform 1500ms ease-out
  &-done
    opacity: 0

@media screen and (max-width: 899px)
  .menu__list
    flex-direction: column
  .appBar__container
    padding: 1rem
