.service_box_main_container
  gap: 2rem
  padding: 5rem
.service_box_container
  padding: 2rem
  gap: 2rem

.service_box_wrapper
  width: 10%
  padding: 2rem
  text-align: center
  background-color: $main
  h2
    font-size: 1.4rem
    font-weight: 900
.service_box_icon
  width: 50%
@media screen and (min-width: 899px) and (max-width: 1280px)
  .service_box_container
    flex-direction: row
    justify-content: center
  .service_box_wrapper
    width: 25%
  .service_box_main_container
    padding: 3rem
@media screen and (max-width: 899px)
  .service_box_icon
    width: 25%
  .service_box_container
    flex-direction: column
    padding: 0 8rem
  .secondSection__content__container
    flex-direction: column
  .service_box_main_container
    flex-direction: row-reverse !important

  .service_box_wrapper
    width: auto
  .service_box_main_container
    padding: 0
@media screen and  (min-width: 1281px)
  .service_box_wrapper
    width: 15%
