.firstSection__container
  height: auto
  padding: 5rem
  margin: auto
  display: flex
  align-items: center
  max-width: 100%
.firstSection__content--wrapper
  width: 50%
.firstSection__title
  color: #fff
  font-weight: 900
  font-size: 4.236rem
.firstSection__para
  font-size: 1.618rem
  color: #fff
  line-height: 3rem
.CTA__button--wrapper
  height: auto
@media screen and (max-width: 899px)
  .firstSection__content--wrapper
    width: 100%
  .firstSection__container
    height: auto
    padding: 5rem 2rem
  .firstSection__title
    font-size: 3rem
    text-align: center
  .firstSection__para
    font-size: 1rem
    text-align: center
    line-height: unset
  .CTA__button--wrapper
    text-align: center
