.thirdSection__container
  min-height: 350px
  background-image: url('https://www.datocms-assets.com/41475/1611654181-third-section-bg-2x.png')
  background-position: center center
  background-size: cover
  background-repeat: none
