.service_box_main_container
  gap: 2rem
  padding: 5rem
  display: flex
  flex-wrap: wrap
.service_box_container
  display: flex
  padding: 2rem
  flex-wrap: wrap

.service_box_wrapper
  max-width: 220px
  padding: 2rem
  margin: 1rem
  text-align: center
  background-color: $main
  h2
    font-size: 1.4rem
    font-weight: 900
.service_box_icon
  max-width: 60px
  height: 60px

@media screen and (min-width: 899px) and (max-width: 1280px)
  .service_box_main_container
    padding: 2rem
@media screen and (max-width: 899px)
  .service_box_main_container
    padding: 0
  .service_box_container
    justify-content: center
    padding: 0
  .service_box_wrapper
    max-width: 220px

@media screen and  (min-width: 1281px)
  .service_box_main_container
    padding: 5rem
  .service_box_container
    padding: 1rem
