.secondSection__container
  padding: 5rem
  background-color: #eeeeee
.MuiButton-label
  justify-content: start !important

.secondSection__content__container
  padding: 0rem 2rem
  display: flex
  flex-direction: column
.secondSection__image_left--wrapper
  display: flex
  justify-content: center
  align-items: flex-end
.secondSection__image_right--wrapper
  margin-bottom: 10rem !important
  margin-left: -2rem !important

@media screen and (min-width: 899px) and (max-width: 1280px)
  .secondSection__image_right--wrapper
    margin-bottom: 0rem !important
  .secondSection__image_left--wrapper,.secondSection__image_right--wrapper
    padding: 5rem
    margin: 0
  .MuiGrid-container
    flex-direction: column-reverse
  .secondSection__container
    margin-top: 0rem
@media screen and (max-width: 899px)
  .secondSection__image_wrapper
    align-items: center
  .MuiGrid-container
    flex-direction: column-reverse
  .secondSection__container
    margin-top: 0rem
    padding: 0
  .secondSection__content__container
    padding: 3rem 2rem
  .secondSection__image_right--wrapper,.secondSection__image_left--wrapper
    margin-bottom: 0 !important
    margin-left: 0rem !important
