.bigSectionTitle
  font-size: 2.5rem
  font-weight: 900
  color: #fff
  &__centered
    text-align: center
  &__left
    text-align: left
    padding: 5rem 5rem 0rem 5rem

.smallSectionSubTitle
  color: #fff
  font-weight: 900
  font-size: 1.4rem
.paraSection
  font-size: 18px
  line-height: 2rem
  color: "#fff"
.smallSectionTitle
  font-size: 3.236rem
  font-weight: 900
.smallBoldTitle
  font-size: 1rem
  font-weight: 900
@media screen and (max-width: 899px)
  .bigSectionTitle
    font-size: 2rem
  .bigSectionTitle,.paraSection,.smallSectionSubTitle
    text-align: center
    margin-top: 2rem
    &__left
      text-align: center
      padding: 0 !important
