.kontakt-oss__container
  display: flex
  flex-direction: row
  &--content
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    &span
      color: #fff !important
.kontakt-oss__form
  display: flex
  justify-content: center
  align-items: center
  &--wrapper
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 5rem
